<footer class="footer">
    <p class="footer-title">Copyrights &copy;<span>wdbs</span></p>
    <div class="social-icons">
        <!--<a href="https://www.linkedin.com/in/wdbs/" target="_blank"><i
                    class="fab fa-linkedin"></i></a>-->
        <a href="https://github.com/boubacardz" target="_blank"><i class="fab fa-github"></i></a>
        <!--<a href="https://t.me/wdbs" target="_blank"><i class="fa-brands fa-telegram"></i></a>-->
        <!--<a href="https://www.facebook.com/wdbs/" target="_blank"><i class="fab fa-facebook"></i></a>-->
    </div>
</footer>