.footer {
  background-color: #000016;
  color: #fff;
  padding: 2em;
  display: flex;
  justify-content: space-between;
}

.footer-title {
  font-size: 1.3em;
  font-weight: 600;
}

.footer-title span {
  color: #3a6cf4;
}

.footer .social-icons a {
  font-size: 1.3em;
  padding: 0 12px 0 0;
}
