<footer class="footer">
    <p class="footer-title">© <span>BS DIAKITÉ</span> | Tous droits réservés</p>
    <div class="footer-social">
        <a href="https://github.com/wdbsw" target="_blank" class="social-link">
            <i class="fab fa-github"></i>
        </a>
        <a href="https://www.linktr.ee/wdbs" target="_blank" rel="noopener" class="social-link btn">
            <i class="fas fa-tree"></i>
        </a>
        <a href="docs/assets/cv.pdf" download="cv-boubacar-diakite.pdf" aria-label="Télécharger mon CV" target="_blank" rel="noopener" class="social-link btn">
            <i class="fas fa-file-lines"></i>
        </a>
    </div>
</footer>