<section class="projects" id="projects">
    <h2 class="title">Projects</h2>
    <div class="content">
        <div class="project-card">
            <div class="project-image">
                <img src="./assets/ecommerce2.jpg" />
            </div>
            <div class="project-info">
                <p class="project-category">Digitaline</p>
                <strong class="project-title">
                  <span>Digitaline</span>
                  <a href="https://github.com/boubacardz" target="_blank" class="more-details">More details</a>
              </strong>
            </div>
        </div>
    </div>
</section>