<section class="main">
    <div>
        <h2>Hello, WdbS <br><span> weco</span></h2>
        <a href="#projects" class="main-btn">View my work on CV</a>
        <a href="./assets/wdbs.pdf" class="Download-cv" download>Download CV</a>
        <div class="social-icons">
            <!--<a href="https://www.linkedin.com/in/diakiteboubacar/" target="_blank"><i
                  class="fab fa-linkedin"></i></a>--
            <a href="https://github.com/wdbsw" target="_blank"><i class="fab fa-github"></i></a>
            <!--<a href="#"><i class="fa-brands fa-telegram"></i></a>
            <a href="https://www.facebook.com/oubacardz/" target="_blank"><i
                  class="fab fa-facebook"></i></a>-->
        </div>
    </div>
</section>